@import url(./node_modules/normalize.css/normalize.css);

@font-face {
  font-family: Roboto;
  src: url('./Roboto/Roboto-Black.ttf'),
  url('./Roboto/Roboto-BlackItalic.ttf'),
  url('./Roboto/Roboto-Bold.ttf'),
  url('./Roboto/Roboto-BoldItalic.ttf'),
  url('./Roboto/Roboto-Italic.ttf'),
  url('./Roboto/Roboto-Light.ttf'),
  url('./Roboto/Roboto-LightItalic.ttf'),
  url('./Roboto/Roboto-Medium.ttf'),
  url('./Roboto/Roboto-MediumItalic.ttf'),
  url('./Roboto/Roboto-Regular.ttf'),
  url('./Roboto/Roboto-Thin.ttf');
}

*::before,
*::after,
:root {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h3,
h4 {
  margin: 0px;
  padding: 0px 0px 10px 0px;
}

button {
  background-color: white;
  border: none;
  color: white;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-family: Roboto, sans-serif;
}

header {
  grid-area: 1 / 2 / 2 / 3;
  font-weight: bold;
}

header ul {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 8px 50px;
}

header ul li:nth-child(2) {
  margin-right: auto;
}

header ul:first-child li:nth-child(2) {
  flex: 1;
  display: flex;
}

header ul li:nth-child(2) #search-box {
  flex: 1;
}

header button,
header span,
header img {
  padding: 0px;
  margin: 0px;
}

header .greeting {
  font-size: 25px;
}

button.row-2 {
  background-color: #4c0519;
  height: 50px;
  width: 100px;
  border-radius: 50px;
}

#search-box {
  background-color: #efeff5;
  border: none;
  height: 25px;
  min-width: 150px;
  max-width: 650px;
  border-radius: 50px;
}

main {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #efeff5;
  padding: 50px;
  gap: 25px;
}

main > #projects-container {
  grid-area: 1 / 1 / 3 / 2;
}

#projects-container article {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

#projects-container .project {
  width: 40%;
  background-color: white;
  padding: 25px;
  border-radius: 25px;
  border-left: 10px solid #522638;
}

#projects-container .project ul {
  display: flex;
  justify-content: flex-end;
}

#announcements-container article {
  background-color: white;
  border-radius: 25px;
  padding: 25px;
}

#announcements-container article div {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

#trending-container article {
  background-color: white;
  border-radius: 25px;
  padding: 25px;
}

#trending-container article .trending-post {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

nav {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #4c0519;
  padding: 16px;
  color: white;
  font-weight: bold;
}

nav .sidebar {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-left: 8px;
}

nav .sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

nav ul span {
  font-size: 16px;
}

nav .sidebar div,
nav .sidebar li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dashboard-logo img {
  height: 50px;
}

.dashboard-logo span {
  font-size: 35px;
}

footer {
  grid-column: 1 / 3;
  text-align: center;
  color: white;
  background-color: #4c0519;
}